
@import url(https://fonts.googleapis.com/css?family=Montserrat|Karla);


/*******************************************
      GENERAL 
*******************************************/

body {
  margin: 0;
  padding: 0;
}

section {
    color: #2a3039;
    font-weight: 300;
    min-height: 100%;
    padding-top: 5%;
    position: relative;
    z-index: -1;
}

#intro {
    background-attachment: fixed;
    background-color: darkred;
}

#courses {
    background-attachment: fixed;
    background-color: black;
}

#FAQ {
    background-attachment: fixed;
    background-color: black;
}

#work {
    background-attachment: fixed;
}

#join {
    background-attachment: fixed;
    border-top: solid black 2px 10px;
    border-bottom: solid black 2px 10px;
} 

/******************************************************
               NAVIGATION
*******************************************************/

.nav-toggle {
  position: absolute;
  top: 15px;
  left: 20px;
  cursor: pointer;
}

.iPad {
  width: 50px;
  height: 75px;
  position: fixed;
}

.close-icon {
   width: 75px;
   height: 75px;
}

a {
  color: #FFF;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

nav li {
 list-style: none;
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}

.main-navigation.open {
  transform: translateX(0);
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation ul a{
  padding: 28px 15px;
  display: block;
}

.main-navigation ul a:hover {
  background: darkred;
  color: white;
}


/*******************************************
      INTRO  PAGE
*******************************************/
 
.computer {
   margin: 0 330px 0; 
   padding-bottom: 0;
   -webkit-animation-duration: 10s;
   -webkit-animation-delay: 9s;
}

.heading {
  margin: -420px 20px 0;
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 4s;
}

.second-heading {
  margin: 60px 50px 0;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 100s;
}

.arrow {
  width: 70px;
  margin: 250px 632px 30px;
}

/**********************************************
     COURSES PAGE
***********************************************/
 

.course-des h1 {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif; 
  padding-left: 10px;
  margin: 0px 90px 0;
}

.course-des p {
  margin: 20px 50px 10px;
  font-size: 20px;
  color: white;
  font-family: 'Karla', sans-serif;
}

blockquote {
  margin: 0 300px 0;
  padding-bottom: 5px;
}

#slidy-container { 
  width: 70%; 
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 10px;
}



/*********************************************
    WORKS / FAQ
**********************************************/


.thumb {
  max-width: 100%;
  height: auto;
}

.thumbnails a {
  float: left;
  width: 50%;
  padding: 30px;
}

.thumbnails {
  margin-right: -15px;
  margin-left: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#work-heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: indianred;
  padding: 0;
  margin: 5px 200px 0;
}

.work-heading {
  font-family: 'Montserrat', sans-serif; 
  color: indianred;
}

.work-text {
 
  font-family: 'Montserrat', sans-serif; 
  color: #8D1919;
}

.work-heading2 {
  margin: 0 500px 0;
  font-family: 'Montserrat', sans-serif; 
  color: indianred;
text-align: center;
}


/***************************************
     PEEK A BOO 
****************************************/

.apply {
  /* Extra Styles */
  background: #fff;
  color: indianred;
  font-family: 'Montserrat', sans-serif;
}

@keyframes move {
	0% { 
		background-position: 0 60%, 0 50%;
	}
	100% { 
	  background-position: 0 60%, 100% 50%;
	}
}

.peek-back {
  background-color: #263645;
	background-image: url('../img/footer-back.jpg');
	background-size: 145%, 5% 10%;
  background-position: 20% 10%, 0 100%;
 
    

  
  /* Extra Styles */
  height: 300px;
  /*box-shadow: inset 0 0 25px rgba(0,0,0,.5);*/
  border: 2px solid #263645;
  border-right: 0;
  border-left: 0;
}


/* Extra Styles */
#difficult {
  padding-right: 200px;
  font-weight: 600;
  font-size: 50px;
  color: indianred;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}



/***********************************************
    CONTACT
************************************************/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }



/*************************************
  APPLY
***************************************/


.join-heading {
  text-align: center;
  color: maroon;
  font-weight: bold;
  margin: 20px;
}





























